// Custom file for FortyTwo Widgets

//
// FortyTwo Tabbed Widget
// --------------------------------------------------

.widget {
  hr {
    border-top: 1px dashed @hr-border;
    border-bottom: 1px dashed #fff;
    border-bottom: 1px dashed rgba(255,255,255,.5);
  }
}
.widget-ft-tabs {

  .nav {
    margin-bottom: 2rem;
    > li > a {
      padding: 0.5rem 1rem;
      text-transform: capitalize;
    }
  }

  .nav-pills > li > a {
      border-radius: 3px;
  }

  div[class*="tab-pane-"] > ul {
    .list-unstyled;
  }

  a.pull-left .wp-post-image,
  .avatar {
    margin-right: 10px;
  }

  a.pull-right .wp-post-image {
    margin-left: 10px;
  }

  .tab-pane {
    .media-heading {
      .font-size(18);
    }
  }

  #tab-pane-tags {
    .wp-tag-cloud > li {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 5px;
    }
  }

  #tab-pane-latest,
  #tab-pane-popular,
  #tab-pane-comments {
    li {
      .media;
    }
  }

}

//
// FortyTwo Testimonials Widget
// --------------------------------------------------

.ft-testimonials {
  blockquote > p {
    .font-size(14);
  }
}