// Custom file for FortyTwo Widgets

//
// FortyTwo Tabbed Widget
// --------------------------------------------------

.widget-ft-tabs {

  .widgettitle {
    padding-right: 20px;
    .pull-left;
    max-height: 38px;
    margin-bottom: 2rem;
  }

  ul[class*="nav-"] {

  }

  ul[class*="nav-"] > li {
    float: none;
    display: table-cell;
    width: 1%;
    text-align: center;
  }

  ul[class*="nav-"] > li > a {
    margin-right: 5px;
  }

  .nav-tabs > li > a {
    padding: 0.7rem 1rem 0.8rem;
  }

  .nav-pills > li > a {
    padding: 0.5rem 1rem;
  }

  div[class*="tab-pane-"] > ul {
    .list-unstyled;
  }

  a.pull-left .wp-post-image,
  .avatar {
    margin-right: 10px;
  }

  a.pull-right .wp-post-image {
    margin-left: 10px;
  }

  .tab-pane {
    .media-heading {
      .font-size(18);
    }
  }

  #tab-pane-tags {
    .wp-tag-cloud > li {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 5px;
    }
  }

  #tab-pane-latest,
  #tab-pane-popular,
  #tab-pane-comments {
    li {
      .media;
    }
  }

  #tab-pane-comments {

  }
}

//
// FortyTwo Testimonials Widget
// --------------------------------------------------

.ft-testimonials {


  .testimonial-content > ul {
    .list-unstyled;

    li {
      .media;
    }
  }

  a.pull-left .wp-post-image,
  .avatar {
    margin-right: 10px;
  }

  a.pull-right .wp-post-image {
    margin-left: 10px;
  }

}