// FortyTwo Comments

.entry-comments {
	position: relative;
}

.entry-comments > h3 {
	.hide-text();
	width: 100%;
	margin: 0 0 40px;
	display: table;
	text-align: center;
	border-top: 1px dashed #e8e8e8;
}

.entry-comments > h3:before,
.entry-comments > h3:after {
	display: table-cell;
	width: 100%;
	font-family: FontAwesome;
	position: absolute;
}

.entry-comments > h3:before {
	font-size: 42px;
	content: "\f111";
	color: #424242;
}

.entry-comments > h3:after {
	font-size: 20px;
	content: "\f086";
	color: #fff;
	top: -1px;
}

.comment-respond {

}

.comment-list {
	padding-left: 0; // reset padding because ul and ol

	> .comment {

		margin-left: 24px;
		padding: 0 0 0 34px;
		border-left: 1px dashed #e8e8e8;

		> article {
			border-top: 1px dashed #e8e8e8;
			margin: 0;
			padding: 40px 0;
		}

		&:first-child article {
			border-top: none;
		}
	}

	.comment {
		display: block;

		> .children {
			padding-left: 0;
			position: relative;

			.comment {
				margin-left: 24px;
				padding-left: 34px;
				border-left: 1px dashed #e8e8e8;
			}
		}
	}

	.comment-header {
		height: 48px;
//		padding-left: 58px;
	}

	.comment-content {
//		padding-left: 58px;
	}

	.comment-reply {
//		padding-left: 58px;
	}

	.comment-author {
		.font-size(16);
		margin-bottom: 0;

		> img {
			position: absolute;
			left: 0;
			border-radius: 24px;
		}
	}

	.comment-meta {
		.font-size(12);
	}

}





/*
#comments,
#respond {
	line-height: 1.5;
	overflow: hidden;
}

.ping-list,
#comments {
	margin-bottom: 48px;
	margin-bottom: 3rem;
}

#author,
#email,
#url {
	width: 50%;
}

.commentmetadata,
#author,
#email,
#url {
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}

#comment {
	margin: 12px 0;
	margin: 0.75rem 0;
}

label {
	margin-left: 12px;
	margin-left: 0.75rem;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
	margin-top: 1.5rem;
	padding: 32px;
	padding: 2rem;
}

.comment-list li ul li {
	margin-right: -32px;
	margin-right: -2rem;
}

.comment-header {
	overflow: hidden;
}

.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment-content p {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

.bypostauthor {
}

#comments .navigation {
	margin-top: 32px;
	margin-top: 2rem;
}*/
