// Custom file for FortyTwo Footer Content

//
// Footer
// --------------------------------------------------

.footer-widgets {
	background: #424242;
	color: #fff;
	.box-padding(40, 0, 40, 0);
}

.site-footer {
	background: #353535;
	color: #fff;
	.box-padding(20, 0, 20, 0);

	.copyright-area {
		.make-lg-column(12);
		text-align: center;
	}

	.footer-widget-area {
		.make-lg-column(6);

		> span {
			float: right;
		}
	}
}