// Custom file for FortyTwo Footer Content

//
// Footer
// --------------------------------------------------

#footer-widgets {
	background: #424242;
	color: #fff;
	.box-padding(40, 0, 40, 0);

	.footer-widget-area {
		.make-column(3);
	}
}

.site-footer {
	background: #353535;
	color: #fff;
	.box-padding(20, 0, 20, 0);

	.copyright-area {
		.make-column(6);
	}

	.footer-widget-area {
		.make-column(6);

		> span {
			float: right;
		}
	}
}