// Custom file for FortyTwo Footer Content

//
// Footer
// --------------------------------------------------

#footer-widgets {
  background: #424242;
  color: #fff;
  .row {
    .box-padding(45, 0, 45, 0);
  }
  .clearfix();
}

.site-footer {
  background: #353535;
  color: #fff;

  .box-padding(20, 0, 20, 0);
}