// Custom file for FortyTwo Content Layouts
// --------------------------------------------------

// Extra small grid
//
// Layout small devices like smartphones. No offset, push, or
// pull classes are present here due to the size of the target.
.full-width-content {
	@layout-sections:		1;
	@layout-columns: 		12;
	@layout-selectors: 		~".content";

	.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-phone);
}

.content-sidebar {
	@layout-sections:		2;
	@layout-columns: 		9 3;
	@layout-selectors: 		~".content", ~".sidebar-primary";

	.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-phone);
}

.sidebar-content {
	@layout-sections:		2;
	@layout-columns: 		3 9;
	@layout-selectors: 		~".sidebar-primary", ~".content";

	.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-phone);
}

.content-sidebar-sidebar {
	@layout-sections:		3;
	@layout-columns: 		7 3 2;
	@layout-selectors: 		~".content", ~".sidebar-primary", ~".sidebar-secondary";

	.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-phone);
}

.sidebar-sidebar-content {
	@layout-sections:		3;
	@layout-columns: 		3 2 7;
	@layout-selectors: 		~".sidebar-primary", ~".sidebar-secondary", ~".content";

	.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-phone);
}

.sidebar-content-sidebar {
	@layout-sections:		3;
	@layout-columns: 		3 7 2;
	@layout-selectors: 		~".sidebar-primary", ~".content", ~".sidebar-secondary";

	.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-phone);
}


// Small grid
//
// Layouts for the small device range, from phones
// to tablets.

@media (min-width: @screen-tablet) {

}


// Medium grid
//
// Layouts for the desktop device range.

@media (min-width: @screen-desktop) {

}


// Large grid
//
// Layouts for the large desktop device range.

@media (min-width: @screen-lg-desktop) {

	.full-width-content {
		@layout-sections:		1;
		@layout-columns: 		12;
		@layout-selectors: 		~".content";

		.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-lg-desktop);
	}

	.content-sidebar {
		@layout-sections:		2;
		@layout-columns: 		9 3;
		@layout-selectors: 		~".content", ~".sidebar-primary";

		.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-lg-desktop);
	}

	.sidebar-content {
		@layout-sections:		2;
		@layout-columns: 		3 9;
		@layout-selectors: 		~".sidebar-primary", ~".content";

		.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-lg-desktop);
	}

	.content-sidebar-sidebar {
		@layout-sections:		3;
		@layout-columns: 		7 3 2;
		@layout-selectors: 		~".content", ~".sidebar-primary", ~".sidebar-secondary";

		.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-lg-desktop);
	}

	.sidebar-sidebar-content {
		@layout-sections:		3;
		@layout-columns: 		3 2 7;
		@layout-selectors: 		~".sidebar-primary", ~".sidebar-secondary", ~".content";

		.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-lg-desktop);
	}

	.sidebar-content-sidebar {
		@layout-sections:		3;
		@layout-columns: 		3 7 2;
		@layout-selectors: 		~".sidebar-primary", ~".content", ~".sidebar-secondary";

		.set-page-layout(@layout-sections; @layout-columns; @layout-selectors; @screen-lg-desktop);
	}

}
