// Custom file for FortyTwo Content Layouts
// --------------------------------------------------

// Extra small grid
//
// Layout small devices like smartphones. No offset, push, or
// pull classes are present here due to the size of the target.



// Small grid
//
// Layouts for the small device range, from phones
// to tablets.

@media (min-width: @screen-tablet) {

}


// Medium grid
//
// Layouts for the desktop device range.

@media (min-width: @screen-desktop) {

}


// Large grid
//
// Layouts for the large desktop device range.

@media (min-width: @screen-lg-desktop) {

	@c:          12;
	@c-s:        9 3;
	@c-s-s:      7 3 2;

	.full-width-content {
		@layout-sections:		1;
		@layout-columns: 		12;
		@layout-selectors: 		~".content";

		.set-page-layout(@layout-sections; @layout-columns; @layout-selectors);
	}

	.content-sidebar,
	.sidebar-content {
		@layout-sections:		2;
		@layout-columns: 		9 3;
		@layout-selectors: 		~".content", ~".sidebar-primary";

		.set-page-layout(@layout-sections; @layout-columns; @layout-selectors);
	}

	.content-sidebar-sidebar,
	.sidebar-sidebar-content,
	.sidebar-content-sidebar {
		.content {
			.make-lg-column(extract(@c-s-s, 1));
			.calc-line-height(@screen-lg, extract(@c-s-s, 1));
		}

		.sidebar-primary {
			.make-lg-column(extract(@c-s-s, 2));
			.calc-line-height(@screen-lg, extract(@c-s-s, 2));
		}

		.sidebar-secondary {
			.make-lg-column(extract(@c-s-s, 3));
			.calc-line-height(@screen-lg, extract(@c-s-s, 3));
		}
	}

}
