// Custom file for FortyTwo Content Layouts

//
// Files specific mixins
// --------------------------------------------------
.height-adjust() {
	padding-top: 40px;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

.content-sidebar-wrap {
	padding-bottom: 40px;
	min-height: 100%;
	overflow: hidden;
}

.content-sidebar,
.sidebar-content {
	.content {
		.make-lg-column(9);
		.height-adjust();
	}

	.sidebar-primary {
		.make-lg-column(3);
		.height-adjust();
	}
}

.content-sidebar-sidebar,
.sidebar-sidebar-content,
.sidebar-content-sidebar {
	.content {
		.make-lg-column(7);
		.height-adjust();
	}

	.sidebar-primary {
		.make-lg-column(3);
		.height-adjust();
	}

	.sidebar-secondary {
		.make-lg-column(2);
		.height-adjust();
	}
}

.content-sidebar {
	.content {
		padding-right: @grid-gutter-width;
	}

	.sidebar-primary {
		padding-left: @grid-gutter-width;
		border-left: 1px solid #e8e8e8;
	}
}

.sidebar-content {
	.content {
		.make-lg-column-push(3);
		padding-right: 15px;
		padding-left: 30px;
	}

	.sidebar-primary {
		.make-lg-column-pull(9);
		padding-right: 30px;
		padding-left: 15px;
		border-right: 1px solid #e8e8e8;
	}
}

.content-sidebar-sidebar {
	.content {
		padding-right: 30px;
		padding-left: 15px;
	}

	.sidebar-primary {
		padding-right: 30px;
		padding-left: 30px;
		border-left: 1px solid #e8e8e8;
	}

	.sidebar-secondary {
		padding-right: 15px;
		padding-left: 30px;
		border-left: 1px solid #e8e8e8;
	}
}

.sidebar-sidebar-content {
	.content {
		.make-lg-column-push(5);
		padding-right: 15px;
		padding-left: 30px;
	}

	.sidebar-primary {
		.make-lg-column-pull(5);
		padding-right: 30px;
		padding-left: 30px;
		border-right: 1px solid #e8e8e8;
	}

	.sidebar-secondary {
		.make-lg-column-pull(10);
		padding-right: 30px;
		padding-left: 15px;
		border-right: 1px solid #e8e8e8;
	}
}

.sidebar-content-sidebar {
	.content {
		.make-lg-column-push(2);
		padding-right: 30px;
		padding-left: 30px;
	}

	.sidebar-primary {
		.make-lg-column-push(2);
		padding-right: 15px;
		padding-left: 30px;
		border-left: 1px solid #e8e8e8;
	}

	.sidebar-secondary {
		.make-lg-column-pull(10);
		padding-right: 30px;
		padding-left: 15px;
		border-right: 1px solid #e8e8e8;
	}
}