// Custom file for Forty Two Mixins

//
// Mixins
// --------------------------------------------------

// Generate rem font-sizes with pixel fallbacks
// By default uses `@font-size-base` with an initial value of 14 (1.4rem or 14px)
.font-size( @font-size: @font-size-base ) {
	font-size: unit(@font-size, px);
	font-size: unit(@font-size, rem) / 10;
}

.box-padding( @top:0, @right:0, @bottom:0, @left: 0 ) {
	padding: unit(@top, px) unit(@right, px) unit(@bottom, px) unit(@left, px);
	padding: unit((@top /10), rem) unit((@right /10), rem) unit((@bottom /10), rem) unit((@left /10), rem);
}

.ft-nav-divider( @color: #e5e5e5 ) {
	&:after {
		content: " ";
		display: block;
		.nav-divider(@color);
	}
}

.height-adjust() {
	padding-top: 40px;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

.calc-line-height(@screen-size, @cols, @font-size: @font-size-base, @ratio: @golden) {
	@f: unit(@font-size);
	@w: (unit(@screen-size) / @cols) * @cols;
	@r: @ratio;

	@h: @r - (1 / (2 * @r)) * (1 - (@w / pow(@f * @r, 2)));
	@l: round(@f * @h);

	line-height: @h;
}

.set-layout-order(@pos) {

}