// Custom file for Forty Two Mixins

//
// Mixins
// --------------------------------------------------

// Generate rem font-sizes with pixel fallbacks
// By default uses `@font-size-base` with an initial value of 14 (1.4rem or 14px)
.font-size( @font-size: @font-size-base ) {
	font-size: unit(@font-size, px);
	font-size: unit(@font-size, rem) / 10;
}

.box-padding( @top:0, @right:0, @bottom:0, @left: 0 ) {
	padding: unit(@top, px) unit(@right, px) unit(@bottom, px) unit(@left, px);
	padding: unit((@top /10), rem) unit((@right /10), rem) unit((@bottom /10), rem) unit((@left /10), rem);
}

.ft-nav-divider( @color: #e5e5e5 ) {
	&:after {
		content: " ";
		display: block;
		.nav-divider(@color);
	}
}

.calc-line-height( @screen-size, @cols, @font-size: @font-size-base, @ratio: @golden ) {
	@f: unit(@font-size);
	@w: (unit(@screen-size) / 12) * @cols;
	@r: @ratio;

	@h: @r - (1 / (2 * @r)) * (1 - (@w / pow(@f * @r, 2)));
	@l: round(@f * @h);

	line-height: @h;
}

/*.set-page-layout( @layout-sections; @layout-columns; @layout-selectors; @layout-order: @layout-selectors; ) when ( @layout-sections > 0 ) {

	color: @layout-sections;
	color: @layout-columns;
	color: @layout-selectors;

	@selector: extract("@{layout-selectors} 0", @layout-sections);

	color: @selector;
//	@selector: e(extract(@layout-selectors, @layout-sections));
//	@column: extract("@{layout-columns} 0", @layout-sections);
//	@order: e(extract("@{layout-order} 0", @layout-sections));

	@{selector} {
//		.make-lg-column(@column);
//		.calc-line-height(@screen-lg, @column);
	}

	.set-page-layout((@layout-sections - 1); @layout-columns; @layout-selectors;);
}
.set-page-layout (0; @layout-columns; @layout-selectors;) {}*/


.renderPageLayout(@selector; @columns) {
	@{selector} {
		.make-lg-column(@columns);
	}
}

.setPageLayoutX(@index; @lsections; @lcolumns; @lselectors) when (isstring(extract(@lselectors, @index))) {
	@selector: extract(@lselectors, @index);
	@columns: extract(@lcolumns, @index);

	.renderPageLayout(@selector; @columns);

	.setPageLayoutX((@index + 1); @lsections; @lcolumns; @lselectors);
}

.setPageLayout(@lsections; @lcolumns; @lselectors) {
	@selector: @lselectors;
	@columns: @lcolumns;

	.renderPageLayout(@selector; @columns);
}

.set-page-layout(@lsections, @lcolumns, @lselectors) when (@lsections = 1) {
	.setPageLayout(@lsections; @lcolumns; @lselectors);
}

.set-page-layout(@lsections, @lcolumns, @lselectors) when (@lsections > 1) {
	.setPageLayoutX(1; @lsections; @lcolumns; @lselectors);
}
