// Custom file for navbar to make Bootstrap work with Genesis


//
// Navbar
// --------------------------------------------------
.nav-primary {
  .navbar;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  &.affix {
    .navbar-fixed-top;
    .navbar-inverse;
    border-color: #111;

    .menu-primary > li > a {
      border-color: #111;
    }

    & ~ .page-title,
    & ~ #home-slider {
      margin-top: 48px;
    }
  }
}

.navbar-brand {
  display: none;

  .affix & {
    display: block;
  }
}

.dropdown-menu {
  border-radius: 0;
  margin-top: 1px;
  margin-left: -1px;
  border-width: 0 1px 1px 1px;
}

.dropdown-submenu > .dropdown-menu {
  margin-top: -5px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.menu-primary {

  .dropdown-menu {
    min-width: 180px;
  }

  > li {

    &:first-child a {border-left: 1px solid #e8e8e8;}

    > a {
      border-right: 1px solid #e8e8e8;
    }

    &.open > a {
      background-color: #f8f8f8;
    }

    &.current-menu-parent > a,
    &.current-menu-item > a,
    &.open > a {
      color: @navbar-link-hover-color;
    }

  }

}