// Less file for the FortyTwo Site Subheader

//
// Slider
// --------------------------------------------------

.site-subheader {

	padding-top: 40px;
	padding-bottom: 40px;

	background: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;

	.make-column(~".subheader-area" 12 0 0);

	.subheader-area {

		.breadcrumb {
			margin: 0;
			padding: 10px 0 0;
			color: @breadcrumb-active-color;

			> a {
				display: inline-block;
				&:after {
					padding: 0 5px;
					color: @breadcrumb-color;
				}
			}
		}
	}

	.subheader {
		.font-size(28);
		font-weight: 300;
		margin: 0;
	}

}

article.type-page > .entry-header {
	.sr-only;
}