// Custom file for Page Titles

//
// Slider
// --------------------------------------------------

.site-subheader {

//	&:extend(.container);

	background: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;

	.subheader-area {
		.make-lg-column(6);

		h2 {
			.font-size(26);
			font-weight: 300;
			margin: 0;
		}

		.breadcrumb {
			background-color: transparent;
			margin: 0;
			padding: 8px 0 0;
		}
	}

	.subheader-widget-area {
		.make-lg-column(6);
	}

}