// Custom file for FortyTwo Widgets

//
// FortyTwo Tabbed Widget
// --------------------------------------------------

.widget-ft-tabs {

  .widgettitle {
    padding-right: 20px;
    .pull-left;
  }

  ul[class*="nav-"] {
    max-height: 38px;
    margin-bottom: 2rem;
  }

  ul[class*="nav-"] > li {
    float: none;
    display: table-cell;
    width: 1%;
    text-align: center;
  }

  ul[class*="nav-"] > li > a {
    margin-right: 5px;
  }

  .nav-tabs > li > a {
    padding: 0.7rem 1rem 0.8rem;
  }

  .nav-pills > li > a {
    padding: 0.5rem 1rem;
  }

  div[class*="tab-pane-"] > ul {
    .list-unstyled;
  }

  .tab-pane > ul > li {
    .media;

    .pull-left {
      margin-right: 10px;
    }
  }

  .tab-pane {
    .media-heading {
      .font-size(18);
    }
  }
}