/*!
*  2.0 Core
*
*  FortyTwo core aims to contain less(css) that is used repeatedly throughout the remainder
*  of the less(css) files.
*/

@import (reference) "scaffolding";

/* Scaffolding */
* {
	&:extend(* all);
}

html {
	&:extend(html);
}

body {
	&:extend(body);
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	&:extend(a all);
}

img {
	.img-responsive();
	margin-bottom: 10px;
	vertical-align: middle;

	&.alignleft {
		.pull-left;
		margin-right: 10px;
	}

	&.aligncenter {
		text-align: center;
		.img-responsive(inline-block);
	}

	&.alignright {
		.pull-right;
		margin-left: 10px;
	}
}

/* WordPress Core Generated Classes */
.wp-caption {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 100%;

	&.alignleft {
		margin-right: 14px;
	}

	&.alignright {
		margin-left: 14px;
	}
}

.alignleft {
	.pull-left;
}

.alignright {
	.pull-right;
}

/* Typography */
@import "type";  // Making use of Bootstrap type via import of file

/* Code */
@import "code"; // Making use of Bootstrap code via import of file

/* Tables */
@import "tables"; // Making use of Bootstrap tables via import of file

/* Forms */
@import "forms"; // Making use of Bootstrap forms via import of file

/* Buttons */
@import "buttons"; // Making use of Bootstrap buttons via import of file

/* Layout */
.wrap {
	.container-fixed();

	@media (min-width: @screen-sm) {
		width: @container-sm;
	}
	@media (min-width: @screen-md) {
		width: @container-md;
	}
	@media (min-width: @screen-lg-min) {
		width: @container-lg;
	}
}

.inner-wrap {
	.make-row();
}

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.
@screen-size: @screen-xs-min;

.full-width-content {
	.make-column(~".content" 12);
}

.content-sidebar {
	.make-column(~".content" 12);
	.make-column(~".sidebar-primary" 12);
}

.sidebar-content {
	.make-column(~".content" 12);
	.make-column(~".sidebar-primary" 12);
}

.content-sidebar-sidebar {
	.make-column(~".content" 12);
	.make-column(~".sidebar-primary" 12);
	.make-column(~".sidebar-secondary" 12);
}

.sidebar-sidebar-content {
	.make-column(~".content" 12);
	.make-column(~".sidebar-primary" 12);
	.make-column(~".sidebar-secondary" 12);
}

.sidebar-content-sidebar {
	.make-column(~".content" 12);
	.make-column(~".sidebar-primary" 12);
	.make-column(~".sidebar-secondary" 12);
}

.primary-content-secondary {
	.make-column(~".content" 12);
	.make-column(~".sidebar-primary" 12);
	.make-column(~".sidebar-secondary" 12);
}

.primary-secondary-content {
	.make-column(~".content" 12);
	.make-column(~".sidebar-primary" 12);
	.make-column(~".sidebar-secondary" 12);
}

.content-secondary-primary {
	.make-column(~".content" 12);
	.make-column(~".sidebar-primary" 12);
	.make-column(~".sidebar-secondary" 12);
}

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-tablet) {

	@screen-size: @screen-sm-min;

	.wrap {
		max-width: @container-tablet;
	}

	.full-width-content {
		.make-column(~".content" 12 0 0);
	}

	.content-sidebar {
		.make-column(~".content" 8 0 0);
		.make-column(~".sidebar-primary" 4 0 0);
	}

	.sidebar-content {
		.make-column(~".content" 8 4 0);
		.make-column(~".sidebar-primary" 4 0 8);
	}

	.content-sidebar-sidebar {
		.make-column(~".content" 6 0 0);
		.make-column(~".sidebar-primary" 4 0 0);
		.make-column(~".sidebar-secondary" 2 0 0);
	}

	.sidebar-sidebar-content {
		.make-column(~".content" 6 6 0);
		.make-column(~".sidebar-primary" 4 0 4);
		.make-column(~".sidebar-secondary" 2 0 10);
	}

	.sidebar-content-sidebar {
		.make-column(~".content" 6 2 0);
		.make-column(~".sidebar-primary" 4 2 0);
		.make-column(~".sidebar-secondary" 2 0 10);
	}

	.primary-content-secondary {
		.make-column(~".content" 6 4 0);
		.make-column(~".sidebar-primary" 4 0 6);
		.make-column(~".sidebar-secondary" 2 0 0);
	}

	.primary-secondary-content {
		.make-column(~".content" 6 6 0);
		.make-column(~".sidebar-primary" 4 0 6);
		.make-column(~".sidebar-secondary" 2 0 4);
	}

	.content-secondary-primary {
		.make-column(~".content" 6 0 0);
		.make-column(~".sidebar-primary" 4 2 0);
		.make-column(~".sidebar-secondary" 2 0 4);
	}

}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-desktop) {

	@screen-size: @screen-md-min;

	.wrap {
		max-width: @container-desktop;
	}

	.full-width-content {
		.make-column(~".content" 12 0 0);
	}

	.content-sidebar {
		.make-column(~".content" 9 0 0);
		.make-column(~".sidebar-primary" 3 0 0);
	}

	.sidebar-content {
		.make-column(~".content" 9 3 0);
		.make-column(~".sidebar-primary" 3 0 9);
	}

	.content-sidebar-sidebar {
		.make-column(~".content" 7 0 0);
		.make-column(~".sidebar-primary" 3 0 0);
		.make-column(~".sidebar-secondary" 2 0 0);
	}

	.sidebar-sidebar-content {
		.make-column(~".content" 7 5 0);
		.make-column(~".sidebar-primary" 3 0 5);
		.make-column(~".sidebar-secondary" 2 0 10);
	}

	.sidebar-content-sidebar {
		.make-column(~".content" 7 2 0);
		.make-column(~".sidebar-primary" 3 2 0);
		.make-column(~".sidebar-secondary" 2 0 10);
	}

	.primary-content-secondary {
		.make-column(~".content" 7 3 0);
		.make-column(~".sidebar-primary" 3 0 7);
		.make-column(~".sidebar-secondary" 2 0 0);
	}

	.primary-secondary-content {
		.make-column(~".content" 7 5 0);
		.make-column(~".sidebar-primary" 3 0 7);
		.make-column(~".sidebar-secondary" 2 0 7);
	}

	.content-secondary-primary {
		.make-column(~".content" 7 0 0);
		.make-column(~".sidebar-primary" 3 2 0);
		.make-column(~".sidebar-secondary" 2 0 3);
	}
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-desktop) {

	@screen-size: @screen-lg-min;

	.wrap {
		max-width: @container-large-desktop;
	}

	.full-width-content {
		.make-column(~".content" 12 0 0);
	}

	.content-sidebar {
		.make-column(~".content" 9 0 0);
		.make-column(~".sidebar-primary" 3 0 0);
	}

	.sidebar-content {
		.make-column(~".content" 9 3 0);
		.make-column(~".sidebar-primary" 3 0 9);
	}

	.content-sidebar-sidebar {
		.make-column(~".content" 7 0 0);
		.make-column(~".sidebar-primary" 3 0 0);
		.make-column(~".sidebar-secondary" 2 0 0);
	}

	.sidebar-sidebar-content {
		.make-column(~".content" 7 5 0);
		.make-column(~".sidebar-primary" 3 0 5);
		.make-column(~".sidebar-secondary" 2 0 10);
	}

	.sidebar-content-sidebar {
		.make-column(~".content" 7 2 0);
		.make-column(~".sidebar-primary" 3 2 0);
		.make-column(~".sidebar-secondary" 2 0 10);
	}

	.primary-content-secondary {
		.make-column(~".content" 7 3 0);
		.make-column(~".sidebar-primary" 3 0 7);
		.make-column(~".sidebar-secondary" 2 0 0);
	}

	.primary-secondary-content {
		.make-column(~".content" 7 5 0);
		.make-column(~".sidebar-primary" 3 0 7);
		.make-column(~".sidebar-secondary" 2 0 7);
	}

	.content-secondary-primary {
		.make-column(~".content" 7 0 0);
		.make-column(~".sidebar-primary" 3 2 0);
		.make-column(~".sidebar-secondary" 2 0 3);
	}

}

/* Other - Sort Out */
// Less file of randon styles which should be broken in to specific sections

//
// Button styling without adding classes to buttons
// --------------------------------------------------

.btn {
	.btn-default;
}

// Default Section Padding
.custom-widget-area {
	padding: 40px 0;
	.clearfix();
	+ .custom-widget-area {
		border-top: 1px solid #e8e8e8;
	}
}

.content-sidebar-wrap {
	padding: 40px 0;
}
// Removes top padding and margin from first element of .entry-content
.content > article > .entry-content > :first-child {
	margin-top: 0;
	padding-top: 0;
}

// adds default styling to all tables
table {
	max-width: 100%;
	background-color: @table-bg;
}

th {
	text-align: left;
}

table {
	.table;
}

.site-intro {
	background: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;
}