/*!
* 3.0 Header
*
* FortyTwo header
*/

// @uses: fortytwo [ft-variables, ft-mixins] via build
// @uses: bootstrap [mixins] via build

@screen-size: @screen-lg;

.site-header {

	box-shadow: inset 0 1px 0 #e8e8e8;
	padding-top: 40px;
	padding-bottom: 40px;

	.make-column(~".title-area" 6 0 0);
	.make-column(~".header-widget-area" 6 0 0);

	.header-widget-area {
		> .widget {
			line-height: 55px;
			float: right;
		}
	}

	.site-title {
		margin: 0 15px 0 0;
		float: left;

		a {
			background: url('@{ft-images-path}/logo.png') no-repeat;
			display: block;
			float: left;
			overflow: hidden;
			text-indent: -9999px;
			height: 55px;
			width: 280px;
		}
	}

	.site-description {
		float: left;
		border-left: 1px solid #e8e8e8;
		padding: 6px 0 6px 15px;
		margin: 0;
		text-transform: uppercase;
		width: 190px;
		line-height: 21px;
		.font-size(14);
	}

}

#title a {
	width: 100%;
}