//
// Base styling for images throughout FortyTwo
// --------------------------------------------------

img {

	border-radius: 2px;
	.media-object;
	.img-responsive();

	&.alignleft {
		.pull-left;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	&.aligncenter {
		text-align: center;
		margin-bottom: 10px;
		.img-responsive(inline-block);
	}

	&.alignright {
		.pull-right;
		margin-left: 10px;
		margin-bottom: 10px;
	}

}

.wp-caption {
	.img-responsive();
	.media-object;

	> .wp-caption-text {
		font-style: italic;
		.font-size(12);
		padding: 5px 5px;
	}
}