// Custom file for FortyTwo Inner Content

//
// Inner
// --------------------------------------------------
#inner {
  .padding-top-bottom(45);
  .clear_float;
}

.ft-featured-page {
  h3 {
    margin-top: 0;
    .font-size(21);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
  }

  i {
    margin-right: 5px;
    .font-size(21);
  }

  .btn {
    padding: 0.5rem 1rem;
    font-weight: 200;
  }
}