// Custom file for Forty Two slider


//
// Slider
// --------------------------------------------------

#home-slider {
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 420px;

}

.flex-direction-nav {
  .prev {

  }
}

