// Custom file for navbar to make Bootstrap work with Genesis


//
// Navbar
// --------------------------------------------------
.nav-primary {
  border-top: 1px solid #ddd;
}

.dropdown-menu {
  border-radius: 0;
  margin-top: 1px;
  margin-left: -1px;
  border-width: 0 1px 1px 1px;
}

.dropdown-submenu > .dropdown-menu {
  margin-top: -5px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.menu-primary {

  > li {

    border-right: 1px solid #ddd;

    &:first-child { border-left: 1px solid #ddd; }

    > a {
      padding: 10px 20px;
      text-transform: uppercase;
      margin: -1px -1px 0;
      border-width: 2px 0 2px 0;
      border-style: solid;
      border-color: transparent;

      &:hover,
      &:focus,
      &:active {
        border-color: #424242 transparent transparent transparent;
        background-color: transparent;
      }
    }

  }

  > .current-menu-parent a,
  > .current-menu-item a,
  > .open a {
    color: #5ad7ba;
    border-color: #424242 transparent transparent transparent;
  }
}