// Custom file for navbar to make Bootstrap work with Genesis


//
// Navbar
// --------------------------------------------------
.nav-primary {
  border-top: 1px solid #e8e8e8;
}

.dropdown-menu {
  border-radius: 0;
  margin-top: 1px;
  margin-left: -1px;
  border-width: 0 1px 1px 1px;
}

.dropdown-submenu > .dropdown-menu {
  margin-top: -5px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.menu-primary {

  .dropdown-menu {
    min-width: 180px;
  }

  > li {

    &:first-child a {border-left: 1px solid #e8e8e8;}

    > a {
      border-top: 1px solid transparent;
      border-right: 1px solid #e8e8e8;
      padding: 11px 20px;
      margin: -1px 0 0 0;



      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        border-top-color: #424242;
      }
    }


    &.open > a {
      background-color: #f8f8f8;
    }

    &.current-menu-parent > a,
    &.current-menu-item > a,
    &.open > a {
      color: #5ad7ba;
      border-top-color: #424242;
    }

  }

}